<%= form_for @fan_out, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nick, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nick, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :input_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :input_id, 
        SocketConnector.order(:nick), :id, :nick, {}, {multiple: false}
      %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :output_ids, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :output_ids, 
        SocketConnector.order(:nick), :id, :nick, {}, {multiple: true}
      %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :open, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :open, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                fan_outs_path, :class => 'btn' %>
  </div>
<% end %>
