<%= form_for(@fan_out) do |f| %>
  <% if @fan_out.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fan_out.errors.count, "error") %> prohibited this fan_out from being saved:</h2>

      <ul>
      <% @fan_out.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nick %><br />
    <%= f.text_field :nick %>
  </div>
  <div class="field">
    <%= f.label :input_id %><br />
    <%= f.number_field :input_id %>
  </div>
  <div class="field">
    <%= f.label :open %><br />
    <%= f.check_box :open %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
