<%- model_class = @output.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nick) %>:</strong></dt>
  <dd><%= @output.nick %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fan_out_id) %>:</strong></dt>
  <dd><%= @output.fan_out_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ip) %>:</strong></dt>
  <dd><%= @output.ip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:port) %>:</strong></dt>
  <dd><%= @output.port %></dd>
  <dt><strong><%= model_class.human_attribute_name(:open) %>:</strong></dt>
  <dd><%= @output.open %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              outputs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_output_path(@output), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              output_path(@output),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
