<%= form_for(@joint) do |f| %>
  <% if @joint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@joint.errors.count, "error") %> prohibited this joint from being saved:</h2>

      <ul>
      <% @joint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :interface %><br />
    <%= f.text_field :interface %>
  </div>
  <div class="field">
    <%= f.label :port %><br />
    <%= f.number_field :port %>
  </div>
  <div class="field">
    <%= f.label :open %><br />
    <%= f.check_box :open %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
